@charset 'UTF-8';


::selection,
::-moz-selection,
img::selection,
img::-moz-selection
{
    background: rgba(0, 0, 0, .3);
  }

:focus
{
    outline: 0;
}

*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;

    border: 0;

    -webkit-tap-highlight-color: rgba(255, 255, 255, .25);
    -webkit-touch-callout: none;
       -moz-touch-callout: none;
        -ms-touch-callout: none;
}


html
{
    font: 16px/1.3em  'Josefin Sans', sans-serif;

    -ms-content-zooming: none;
    -ms-touch-action: auto;



    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}



body
{
    position: relative;

    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 0;

    color: #333;
    background: black;

    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-kerning: auto;

}

.gpu
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;

            will-change:transform;
}

.disable-hover,
.disable-hover *
{
    pointer-events: none !important;
}

.alpha-0
{
         opacity: 0;

    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        filter: alpha(opacity=0);
    -moz-opacity: 0;
}

.alpha-100
{
         opacity: 1;

    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        filter: alpha(opacity=100);
    -moz-opacity: 1;
}

.cover
{
    position: absolute;
    z-index: 666;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #000;
}


.bg
{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 50%;

    display: block;

    width: 320px;
    height: 100%;
    margin: 0 0 0 -160px;
}

.bg canvas
{
    display: block;

    width: 100%;
    height: 100%;
}

.fire
{
    position: relative;
    z-index: 1;

    display: block;
    overflow: auto;

    width: 320px;
    margin: 0 auto;

    background: rgba(176, 167, 176, .21);
    /* Old Browsers */
    background:    -moz-linear-gradient(top, rgba(176, 167, 176, .21) 0%, rgba(190, 117, 123, .21) 30%, rgba(221, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(176, 167, 176, .21)), color-stop(30%, rgba(190, 117, 123, .21)), color-stop(100%, rgba(221, 0, 0, 1)));
    /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, rgba(176, 167, 176, .21) 0%, rgba(190, 117, 123, .21) 30%, rgba(221, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background:      -o-linear-gradient(top, rgba(176, 167, 176, .21) 0%, rgba(190, 117, 123, .21) 30%, rgba(221, 0, 0, 1) 100%);
    /* Opera 11.10+ */
    background:     -ms-linear-gradient(top, rgba(176, 167, 176, .21) 0%, rgba(190, 117, 123, .21) 30%, rgba(221, 0, 0, 1) 100%);
    /* IE 10+ */
    background:         linear-gradient(to bottom, rgba(176, 167, 176, .21) 0%, rgba(190, 117, 123, .21) 30%, rgba(221, 0, 0, 1) 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b0a7b0', endColorstr='#dd0000', GradientType=0);
    /* IE6-9 */
}

.wrapper.not-found
{
    background: none;
}

.wrapper > .sections
{
    position: relative;
    z-index: 1;
    left: 0;

    display: block;
    overflow: auto;

    width: 320px;
    height: auto;
}

.section,
section,
header,
footer
{
    display: block;
    float: none;
    overflow-x: hidden;

    width: 100%;
    padding: 40px 0;

    text-align: center;
}

.caption
{
    position: relative;

    width: 320px;
    padding: 0;
    padding: .5rem 0;

    text-align: justify;

    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

a
{
    font-size: 22px;
    font-variant: small-caps;

    display: block;

    width: 320px;

    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;

    color: #222;
}

hr
{
    position: relative;

    display: block;

    width: 50%;
    height: 1px;
    margin: 20px auto;

    text-align: center;

    color: #000;
    background: #000;
}

ul
{
    display: block;

    margin: 0;
    padding: 0;

    list-style: none;
}

p
{
    font-size: 20px!important;
    line-height: 1.618;

    position: relative;

    width: 290px;
    margin: 0 15px;

    text-align: justify;
    letter-spacing: -1px;

    color: #000;
}

q
{
    font-size: 20px!important;
    font-style: normal;

    quotes: '“' '”' '‘' '’';

    color: #222;
}

q:before
{
    content: open-quote;
}

q:after
{
    content: close-quote;
}

html.tr-coretext
{
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

html.tr-directwrite
{
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

#s1
{
    padding: 0;
}

.dropcap
{
    font: 3em Forum, serif;
    line-height: .6;

    position: relative;
    top: 6px;

    float: left;

    width: .8em;
}

​ .btn-mail
{
    position: relative;

    display: block;

    width: 300px;
    margin: 10px auto 20px;
}

.btn-contact
{
    font-size: 1.75em;

    position: relative;

    width: auto;
    margin: 0 auto;
    margin-top: 10px;
}

.btn-mail,
.btn-scroll-to-top
{
    font-size: 2em;
    font-weight: 300;

    position: relative;

    margin: 0 auto;

    letter-spacing: 1px;
}

.btn-scroll-to-top
{
    padding-top: 40px;
}

.bio
{
    position: relative;

    display: block;

    width: 320px;
    margin: 20px auto;

    letter-spacing: 3px;
}

.ab
{
    position: relative;
    z-index: 2;

    display: block;

    width: 320px;

           opacity: .2;

    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=20);
        filter: alpha(opacity=20);
      -moz-opacity: .2;
    -khtml-opacity: .2;
}

.ab img
{
    display: block;

    max-width: 100%;
}

.ab canvas
{
    background-color: transparent;
}

.links
{
    position: relative;

    display: block;

    width: 320px;
    margin: 0 auto;

    letter-spacing: 3px;
}

.links.not-found
{
    margin-top: 200px;
}

.links.not-found h2.a,
.links.not-found h2.b
{
    line-height: 1.2em;

    margin-top: 0;
}

.links ul
{
    position: relative;

    float: left;

    width: 100%;
    margin: 1em 0 2em 0;
}

.links ul li
{
    line-height: 28px;

    position: relative;

    width: 100%;
    margin: 18px 0 16px;

    cursor: pointer;
}

.links ul li a
{
    font-size: 1.25em;
    font-variant: small-caps;

    z-index: 0;

    display: block;

    width: 100%;
    height: auto;

    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;

    color: #111;
}

.links ul li img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;
    float: left;
    clip: rect(0px 320px 40px 0px);
}

.links .where li
{
    line-height: 1em;
}



.links .boudoir li
{
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
}

.links .boudoir li a
{
    font-size: 1.2em;

    position: relative;

    padding: .25em 0;
    padding: 0 0;

    text-align: center;

    color: #222;
    background-color: transparent;
}

.links .boudoir li a.active
{
    padding: .5em 0;

    color: #fff;
    background-color: #000;
}

.links .boudoir li a span
{
    font-size: .65em;
}

.links ul li,
.links ul li a
{
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.links ul li a span
{
    line-height: 1.3em;

    position: relative;

    display: inline-block;
}

.links ul li a,
a[class*='btn-']
{
    w
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
}



.social
{
    display: block;
    float: left;

    width: 100%;

    text-align: center;
}



.social > a > img
{
    border: 0;
}

h1
{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.5rem;

    position: relative;

    display: inline-block;
    float: none;

    width: 100%;
    margin: .25rem auto;

    text-align: center;
    letter-spacing: 0;

    color: #000;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

h2
{
    font-size: 1.6154em;
    font-weight: 300;

    width: 100%;
    margin: .5em auto;

    text-align: center;
    letter-spacing: 2px;

    color: #000;
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

h2.a
{
    font-size: 1.6rem;

    position: relative;

    display: inline-block;

    margin: 0 auto;

    text-align: center;
    letter-spacing: .25em;

    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
}

h2.b
{
    font-size: 1.25rem;
    line-height: 1.25rem;

    position: relative;

    display: inline-block;

    margin: 0 auto;

    letter-spacing: 6px;

    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
}



h3
{
    font-size: 1.6154em;
    font-weight: 300;
    font-variant: small-caps;
    line-height: 1em;

    display: inline-block;

    margin: 0 auto;

    letter-spacing: -1px;

    color: #000;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

h3.a
{
    font-size: 1.2em;
}

h2 > sup
{
    font-size: .8em;
    font-weight: 300;

    position: relative;
    top: -6px;
    left: 6px;
}

.btn-scroll-to-top
{
    display: block;
    float: left;

    padding: 40px 0;
}

.social > a.bt
{
    font-size: 3rem;
    line-height: 3rem;

    display: inline-block;

    width: auto;
    padding: 0 5px;

    color: black;
}


.debug
{
    font: 10px sans-serif;

    position: absolute;
    z-index: 666;
    top: 0;
    left: 0;

    display: block;

    color: green;
}

.wf-loading *
{
    visibility: hidden;
}

.wf-inactive *
{
    font-family: 'Arial', sans-serif;

    visibility: visible;
}

.wf-active *
{
    font-family: 'Josefin Sans', Serif;

    visibility: visible;
}

@-webkit-viewport
{
    width: device-width;
}

@-moz-viewport
{
    width: device-width;
}

@-ms-viewport
{
    width: auto!important;
}

@viewport
{
    width: device-width;
}
